.orderdetails-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: auto;
  height: 100%;
  background-color: #d9d8d8f3;
  padding: 20px;
  border-radius: 2%;
  box-shadow: 0, 0, 10px, 0 rgb(0, 0, 0, 0.5);
}
.orderdetails_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  color: #000;
  font-size: 20px;
  background-color: #ffb700;
  font-weight: 600;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px, 0px, 30px, 0 rgb(0, 0, 0, 0.5);
}
.orderdetails_rowAns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  align-self: center;
  margin: 5px;
  padding: 10px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0, 0, 10px, 0 rgb(0, 0, 0, 0.2);
}
.order-head {
  color: #ffb700;
  font-size: 30px;
  justify-content: center;
  /* align-self: center; */
  font-size: 8vh;
  display: flex;
}
.GobackBtn {
  background-color: #000;
  /* border-radius: 10%; */
  height: 30px;
  width: 10%;
  color: azure;
  margin-top: 10px;
  border-color: #ffb700;
  border-width: 2px;
  font-size: 20px;
}
